In [1]:
import pandas as pd """https://www.youtube.com/watch?v=a_XrmKlaGTs"""

In [4]:
df=pd.read_csv('train.csv') #reading from a machine

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
#from raw url in git  
pd.read_csv('https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv')

                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
7                          Cape Verde         AFRICA
8            Central African Republic         AFRICA
9                                Chad         AFRICA
10                            Comoros         AFRICA
11                              Congo         AFRICA
12      Congo, Democratic Republic of         AFRICA
13                           Djibouti         AFRICA
14                              Egypt         AFRICA
15                  Equatorial Guinea         AFRICA
16                            Eritrea         AFRICA
17                           Ethiopia         AFRICA
18                              Gabon         AFRICA
19                             Gambia         AFRICA
20                              Ghana         AFRICA
21                             Guinea         AFRICA
22                      Guinea-Bissau         AFRICA
23                        Ivory Coast         AFRICA
24                              Kenya         AFRICA
25                            Lesotho         AFRICA
26                            Liberia         AFRICA
27                              Libya         AFRICA
28                         Madagascar         AFRICA
29                             Malawi         AFRICA
..                                ...            ...
164                       Saint Lucia  NORTH AMERICA
165  Saint Vincent and the Grenadines  NORTH AMERICA
166               Trinidad and Tobago  NORTH AMERICA
167                     United States  NORTH AMERICA
168                         Australia        OCEANIA
169                              Fiji        OCEANIA
170                          Kiribati        OCEANIA
171                  Marshall Islands        OCEANIA
172                        Micronesia        OCEANIA
173                             Nauru        OCEANIA
174                       New Zealand        OCEANIA
175                             Palau        OCEANIA
176                  Papua New Guinea        OCEANIA
177                             Samoa        OCEANIA
178                   Solomon Islands        OCEANIA
179                             Tonga        OCEANIA
180                            Tuvalu        OCEANIA
181                           Vanuatu        OCEANIA
182                         Argentina  SOUTH AMERICA
183                           Bolivia  SOUTH AMERICA
184                            Brazil  SOUTH AMERICA
185                             Chile  SOUTH AMERICA
186                          Colombia  SOUTH AMERICA
187                           Ecuador  SOUTH AMERICA
188                            Guyana  SOUTH AMERICA
189                          Paraguay  SOUTH AMERICA
190                              Peru  SOUTH AMERICA
191                          Suriname  SOUTH AMERICA
192                           Uruguay  SOUTH AMERICA
193                         Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [20]:
#from url 
import csv
url = 'https://github.com/cs109/2014_data/blob/master/countries.csv'
r = requests.get(url)
text = r.iter_lines()
reader = csv.reader(text, delimiter=',')

In [26]:
#sep param 
data=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/movie_titles_metadata.tsv')
data.head() #not sep, as its tab se
data=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/movie_titles_metadata.tsv',sep='\t')
data.head() #now sep, but no col name 
data=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/movie_titles_metadata.tsv',sep='\t',names=['sno','name','release_year','rating','votes','genres'])
data.head()

,sno,name,release_year,rating,votes,genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

In [30]:
#index param 
pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/aug_train.csv',index_col='enrollee_id')

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
enrollee_id,,,,,,,,,,,,,
8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0.0
402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0
29452,city_21,0.624,NaN,No relevent experience,Full time course,High School,NaN,2,NaN,NaN,never,32,1.0
23853,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,5000-9999,Pvt Ltd,1,108,0.0
25619,city_61,0.913,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,3,23,0.0
5826,city_21,0.624,Male,No relevent experience,NaN,NaN,NaN,2,NaN,NaN,never,24,0.0
8722,city_21,0.624,NaN,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,never,26,0.0
6588,city_114,0.926,Male,Has relevent experience,no_enrollment,Graduate,STEM,16,10/49,Pvt Ltd,>4,18,0.0
4167,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,1,50-99,Pvt Ltd,never,106,0.0
5764,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,2,5000-9999,Pvt Ltd,2,7,0.0
2156,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,7,10000+,Pvt Ltd,never,23,1.0
11399,city_13,0.827,Female,Has relevent experience,no_enrollment,Graduate,Arts,4,NaN,NaN,1,132,1.0
31972,city_159,0.843,Male,Has relevent experience,no_enrollment,Masters,STEM,11,100-500,Pvt Ltd,1,68,0.0
19061,city_114,0.926,Male,Has relevent experience,no_enrollment,Masters,STEM,11,100-500,Pvt Ltd,2,50,0.0
6491,city_102,0.804,NaN,Has relevent experience,no_enrollment,Masters,STEM,10,NaN,NaN,1,48,0.0
7041,city_40,0.776,Male,Has relevent experience,no_enrollment,Graduate,Humanities,<1,1000-4999,Pvt Ltd,1,65,0.0
22767,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,5,1000-4999,Pvt Ltd,1,13,0.0
14505,city_67,0.855,NaN,No relevent experience,no_enrollment,High School,NaN,4,NaN,NaN,never,22,0.0
17139,city_21,0.624,NaN,Has relevent experience,Part time course,Graduate,STEM,14,500-999,Pvt Ltd,1,148,1.0
28476,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,Arts,5,NaN,NaN,2,72,0.0
21538,city_100,0.887,Male,Has relevent experience,no_enrollment,High School,NaN,11,<10,Pvt Ltd,1,8,1.0
10408,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,18,50-99,Funded Startup,2,68,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3365,city_16,0.910,NaN,Has relevent experience,no_enrollment,Graduate,Humanities,>20,1000-4999,Pvt Ltd,>4,23,0.0
9651,city_100,0.887,NaN,No relevent experience,Full time course,Masters,STEM,3,NaN,Public Sector,1,30,1.0
20668,city_21,0.624,Male,Has relevent experience,no_enrollment,Graduate,STEM,11,100-500,Pvt Ltd,>4,25,0.0
18072,city_116,0.743,Male,No relevent experience,no_enrollment,Masters,STEM,8,10000+,NaN,1,48,0.0
15549,city_36,0.893,Male,Has relevent experience,no_enrollment,Graduate,STEM,10,500-999,Pvt Ltd,1,67,0.0
25191,city_10,0.895,Other,Has relevent experience,no_enrollment,Graduate,STEM,16,10/49,Pvt Ltd,1,36,0.0
28798,city_103,0.920,Male,Has relevent experience,Part time course,High School,NaN,12,500-999,Pvt Ltd,>4,13,0.0
20520,city_65,0.802,Male,Has relevent experience,no_enrollment,Graduate,STEM,8,50-99,Public Sector,2,136,0.0
23672,city_21,0.624,NaN,Has relevent experience,no_enrollment,Masters,STEM,6,NaN,NaN,1,5,1.0
22620,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,8,50-99,Pvt Ltd,>4,80,0.0
19765,city_30,0.698,NaN,Has relevent experience,no_enrollment,Masters,STEM,11,100-500,Pvt Ltd,1,17,0.0
5603,city_21,0.624,NaN,Has relevent experience,Full time course,Graduate,STEM,4,NaN,NaN,NaN,13,0.0
11398,city_103,0.920,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,never,15,0.0
7782,city_23,0.899,Male,Has relevent experience,no_enrollment,Graduate,STEM,17,10/49,Funded Startup,3,12,0.0
13750,city_40,0.776,Male,Has relevent experience,no_enrollment,NaN,NaN,5,10/49,Early Stage Startup,1,26,0.0
33047,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,18,0.0
17191,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,4,NaN,NaN,never,48,1.0
155,city_44,0.725,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,Pvt Ltd,never,190,0.0
13167,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,500-999,Pvt Ltd,1,51,0.0
21319,city_21,0.624,Male,No relevent experience,Full time course,Graduate,STEM,1,100-500,Pvt Ltd,1,52,1.0
9212,city_21,0.624,NaN,Has relevent experience,no_enrollment,Masters,STEM,3,100-500,Pvt Ltd,3,40,1.0
251,city_103,0.920,Male,Has relevent experience,no_enrollment,Masters,STEM,9,50-99,Pvt Ltd,1,36,1.0
32313,city_160,0.920,Female,Has relevent experience,no_enrollment,Graduate,STEM,10,100-500,Public Sector,3,23,0.0
11385,city_149,0.689,Male,No relevent experience,Full time course,Graduate,NaN,2,NaN,NaN,1,60,0.0
29754,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,Humanities,7,10/49,Funded Startup,1,25,0.0
7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

In [46]:
#header parameter 
pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/test.csv')
#col name is in row 1 
pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/test.csv',header=1)

,0,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
1,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
2,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
3,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

In [49]:
pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/test.csv',header=1,skiprows=[0])

,1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
0,2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0
1,3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1
2,4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

In [51]:
#encoding parameter -generally utf 8 , if not you will get UnicodeDecodeError                        
pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/zomato.csv')
#to remove this either manually change the encdoder to utf 8 or find encoding and passe ncoding arg 
pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/zomato.csv',encoding='latin-1')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 3: invalid continuation byte

In [52]:
pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/zomato.csv',encoding='latin-1')

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
5,18189371,Din Tai Fung,162,Mandaluyong City,"Ground Floor, Mega Fashion Hall, SM Megamall, ...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056314,14.583764,Chinese,...,Botswana Pula(P),No,No,No,No,3,4.4,Green,Very Good,336
6,6300781,Buffet 101,162,Pasay City,"Building K, SM By The Bay, Sunset Boulevard, M...","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay Cit...",120.979667,14.531333,"Asian, European",...,Botswana Pula(P),Yes,No,No,No,4,4.0,Green,Very Good,520
7,6301290,Vikings,162,Pasay City,"Building B, By The Bay, Seaside Boulevard, Mal...","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay Cit...",120.979333,14.540000,"Seafood, Filipino, Asian, European",...,Botswana Pula(P),Yes,No,No,No,4,4.2,Green,Very Good,677
8,6300010,Spiral - Sofitel Philippine Plaza Manila,162,Pasay City,"Plaza Level, Sofitel Philippine Plaza Manila, ...","Sofitel Philippine Plaza Manila, Pasay City","Sofitel Philippine Plaza Manila, Pasay City, P...",120.980090,14.552990,"European, Asian, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.9,Dark Green,Excellent,621
9,6314987,Locavore,162,Pasig City,"Brixton Technology Center, 10 Brixton Street, ...",Kapitolyo,"Kapitolyo, Pasig City",121.056532,14.572041,Filipino,...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,532
10,6309903,Silantro Fil-Mex,162,Pasig City,"75 East Capitol Drive, Kapitolyo, Pasig City",Kapitolyo,"Kapitolyo, Pasig City",121.057916,14.567689,"Filipino, Mexican",...,Botswana Pula(P),No,No,No,No,3,4.9,Dark Green,Excellent,1070
11,6309455,Mad Mark's Creamery & Good Eats,162,Pasig City,"23 East Capitol Drive, Kapitolyo, Pasig City",Kapitolyo,"Kapitolyo, Pasig City",121.060820,14.570849,"American, Ice Cream, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.2,Green,Very Good,488
12,6318433,Silantro Fil-Mex,162,Quezon City,"Second Floor, UP Town Center, Katipunan Avenue...","UP Town Center, Diliman, Quezon City","UP Town Center, Diliman, Quezon City, Quezon City",121.075419,14.649503,"Filipino, Mexican",...,Botswana Pula(P),No,No,No,No,3,4.8,Dark Green,Excellent,294
13,6310470,Guevarra's,162,San Juan City,"387 P. Guevarra Corner Argonne Street, Additio...",Addition Hills,"Addition Hills, San Juan City",121.033592,14.593450,Filipino,...,Botswana Pula(P),Yes,No,No,No,3,4.2,Green,Very Good,458
14,6314605,Sodam Korean Restaurant,162,San Juan City,"17 J. Abad Santos Drive, Little Baguio, San Ju...",Little Baguio,"Little Baguio, San Juan City",121.038110,14.598890,Korean,...,Botswana Pula(P),No,No,No,No,3,4.3,Green,Very Good,223
15,18185059,Cafe Arabelle,162,Santa Rosa,"Ayala Mall, Solenad, Nuvali, Santa Rosa - Taga...","Nuvali, Don Jose, Santa Rosa","Nuvali, Don Jose, Santa Rosa, Santa Rosa",121.057040,14.237082,"Cafe, American, Italian, Filipino",...,Botswana Pula(P),No,No,No,No,3,3.6,Yellow,Good,29
16,18182702,Nonna's Pasta & Pizzeria,162,Santa Rosa,"Ground Floor, Building G, Solenad 3, Nuvali, D...","Solenad 3, Don Jose, Santa Rosa","Solenad 3, Don Jose, Santa Rosa, Santa Rosa",121.056587,14.237679,"Italian, Pizza",...,Botswana Pula(P),No,No,No,No,3,4.0,Green,Very Good,72
17,6318213,Balay Dako,162,Tagaytay City,"Aguinaldo Highway, Tagaytay City",Tagaytay City,"Tagaytay City, Tagaytay City",120.951589,14.101834,Filipino,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,211
18,18255654,Hobing Korean Dessert Cafe,162,Taguig City,"Third Floor, BGC Stopover Pavillion, Rizal Dri...","BGC Stopover Pavillion, Bonifacio Global City","BGC Stopover Pavillion, Bonifacio Global City,...",121.045878,14.554360,"Cafe, Korean, Desserts",...,Botswana Pula(P),No,No,No,No,2,4.5,Dark Green,Excellent,118
19,6308205,Wildflour Cafe + Bakery,162,Taguig City,"Ground Floor, Netlima Building, 4th Avenue Cor...",Bonifacio Global City,"Bonifacio Global City, Taguig City",121.046220,14.549337,"Cafe, Bakery, American, Italian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,392
20,6315438,NIU by Vikings,162,Taguig City,"Sixth Floor, SM Aura Premier, C5 Road Corner 2...","SM Aura Premier, Bonifacio Global City, Taguig...","SM Aura Premier, Bonifacio Global City, Taguig...",121.053725,14.545858,"Seafood, American, Mediterranean, Japanese",...,Botswana Pula(P),Yes,No,No,No,4,4.7,Dark Green,Excellent,535
21,6310406,The Food Hall by Todd English,162,Taguig City,"Fifth Floor, SM Aura Premier, C5 Corner 26th S...","SM Aura Premier, Bonifacio Global City, Taguig...","SM Aura Premier, Bonifacio Global City, Taguig...",121.053500,14.545655,"American, Asian, Italian, Seafood",...,Botswana Pula(P),Yes,No,No,No,4,4.5,Dark Green,Excellent,618
22,6600681,Chez Michou,30,Brasí_lia,"SCLN, 208, Bloco A, Loja 30, Asa Norte, Brasí_lia",Asa Norte,"Asa Norte, Brasí_lia",-47.881789,-15.764142,"Fast Food, French",...,Brazilian Real(R$),No,No,No,No,2,3.0,Orange,Average,6
23,6601005,Cafí© Daniel Briand,30,Brasí_lia,"SCLN 104, Bloco A, Loja 26, Asa Norte, Brasí_lia",Asa Norte,"Asa Norte, Brasí_lia",-47.882667,-15.777500,Cafe,...,Brazilian Real(R$),No,No,No,No,1,3.8,Yellow,Good,9
24,6600292,Casa do Biscoito Mineiro,30,Brasí_lia,"SCLN 210, Bloco D, Loja 36/48, Asa Norte, Bras...",Asa Norte,"Asa Norte, Brasí_lia",-47.882136,-15.757472,Bakery,...,Brazilian Real(R$),No,No,No,No,2,3.7,Yellow,Good,11
25,6600441,Maori,30,Brasí_lia,"CLN 110, Bloco D, Loja 28, Asa Norte, Brasí_lia",Asa Norte,"Asa Norte, Brasí_lia",-47.888167,-15.758833,Brazilian,...,Brazilian Real(R$),No,No,No,No,3,3.8,Yellow,Good,11
26,6600970,Pizza íæ Bessa,30,Brasí_lia,"SCS 214, Bloco C, Loja 40, Asa Sul, Brasí_lia",Asa Sul,"Asa Sul, Brasí_lia",-47.915667,-15.831167,Pizza,...,Brazilian Real(R$),No,No,No,No,2,3.2,Orange,Average,11
27,6600379,Sushi Loko,30,Brasí_lia,"SCS 213, Bloco C, Loja 35, Asa Sul, Brasí_lia",Asa Sul,"Asa Sul, Brasí_lia",-47.915667,-15.831000,Japanese,...,Brazilian Real(R$),No,No,No,No,3,3.1,Orange,Average,10
28,6600214,Beirute,30,Brasí_lia,"CLS 109, Bloco A, Loja 2/6, Asa Sul, Brasí_lia",Asa Sul,"Asa Sul, Brasí_lia",-47.907500,-15.820000,Arabian,...,Brazilian Real(R$),No,No,No,No,3,3.7,Yellow,Good,8
29,6601218,New Koto,30,Brasí_lia,"SCS 212, Bloco B, Loja 26, Asa Sul, Brasí_lia",Asa Sul,"Asa Sul, Brasí_lia",-47.910167,-15.827333,Japanese,...,Brazilian Real(R$),No,No,No,No,4,3.7,Yellow,Good,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9521,6003426,Liva,208,Ankara,"íukurambar Mahallesi, Muhsin YazÛ±cÛ±oÛôlu Ca...",íukurambar,"íukurambar, Ankara",32.809146,39.904709,"Patisserie, Coffee and Tea",...,Turkish Lira(TL),No,No,No,No,2,3.4,Orange,Average,115
9522,6000549,Meôhur TavacÛ± Recep Usta,208,Ankara,"Gí_zeltepe Mahallesi, Dikmen Vadisi, Hoôdere ...",Dikmen,"Dikmen, Ankara",32.846189,39.884872,Kebab,...,Turkish Lira(TL),No,No,No,No,3,4.5,Dark Green,Excellent,231
9523,6000871,íukuraÛôa SofrasÛ±,208,Ankara,"Emek Mahallesi, Bosna Hersek Caddesi, No 22/C,...",Emek,"Emek, Ankara",32.818833,39.916667,"Kebab, Izgara",...,Turkish Lira(TL),No,No,No,No,3,4.4,Green,Very Good,296
9524,6004011,Gaga Manjero,208,Ankara,"Gazi Osman Paôa Mahallesi, Filistin Caddesi, ...",Gazi Osman Paôa,"Gazi Osman Paôa, Ankara",32.869800,39.898239,World Cuisine,...,Turkish Lira(TL),No,No,No,No,3,4.9,Dark Green,Excellent,95
9525,6000409,Cafemiz,208,Ankara,"Gaziosmanpaôa Mahallesi, Arjantin Caddesi, No...",Gazi Osman Paôa,"Gazi Osman Paôa, Ankara",32.865683,39.897872,"World Cuisine, Mexican, Italian",...,Turkish Lira(TL),No,No,No,No,4,4.4,Green,Very Good,115
9526,6000019,Nusr-Et,208,Ankara,"Gaziosmanpaôa Mahallesi, _ehit í_mer Haluk S...",Gazi Osman Paôa,"Gazi Osman Paôa, Ankara",32.864833,39.899667,Steak,...,Turkish Lira(TL),No,No,No,No,4,4.1,Green,Very Good,97
9527,6001537,Kebap 49,208,Ankara,"Remzi OÛôuz ArÛ±k Mahallesi, TunalÛ± Hilmi Cad...",KavaklÛ±dere,"KavaklÛ±dere, Ankara",32.860144,39.907272,"Kebab, Turkish Pizza",...,Turkish Lira(TL),No,No,No,No,3,4.3,Green,Very Good,106
9528,6003668,Timboo Cafe,208,Ankara,"Kentpark AVM, Kat -1, Mustafa Kemal Mahallesi,...","Kentpark AVM, íìniversiteler, íankaya","Kentpark AVM, íìniversiteler, íankaya, Ankara",32.776255,39.908957,Cafe,...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,79
9529,6001748,Meôhur í_zí_elik Aspava,208,Ankara,"Kí_í_í_k Esat Mahallesi, Esat Caddesi, No 110/...",Kí_í_í_k Esat,"Kí_í_í_k Esat, Ankara",32.866633,39.906636,"Kebab, Turkish Pizza",...,Turkish Lira(TL),No,No,No,No,2,4.6,Dark Green,Excellent,109
9530,6001757,YÛ±ldÛ±z Aspava,208,Ankara,"Kí_í_í_k Esat Mahallesi, Esat Caddesi, No 110/...",Kí_í_í_k Esat,"Kí_í_í_k Esat, Ankara",32.866608,39.906569,"Kebab, Turkish Pizza, Dí_ner",...,Turkish Lira(TL),No,No,No,No,2,4.4,Green,Very Good,72
9531,6000747,The Bigos,208,Ankara,"Mahallesi, Selanik 2 Caddesi, No 61/A, íankay...",KÛ±zÛ±lay,"KÛ±zÛ±lay, Ankara",32.857917,39.916686,Cafe,...,Turkish Lira(TL),No,No,No,No,3,3.8,Yellow,Good,123
9532,6002025,MasabaôÛ±,208,Ankara,"Kocatepe Mahallesi, Mithatpaôa Caddesi, No 62...",KÛ±zÛ±lay,"KÛ±zÛ±lay, Ankara",32.859867,39.919144,"Kebab, Turkish Pizza",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,103
9533,6003879,Zigana Pide,208,Ankara,"Macun Mahallesi, Erciyes ÛÁôyerleri Sitesi, 2...",Macunkí_y,"Macunkí_y, Ankara",32.763378,39.946278,Turkish Pizza,...,Turkish Lira(TL),No,No,No,No,2,4.3,Green,Very Good,103
9534,6004089,Dí_veroÛôlu,208,Ankara,"Maltepe Mahallesi, Gení_lik Caddesi, No 28, í...",Maltepe,"Maltepe, Ankara",32.842742,39.922536,"Kebab, Desserts, Turkish Pizza",...,Turkish Lira(TL),No,No,No,No,3,4.4,Green,Very Good,131
9535,6000921,Dí_veroÛôlu,208,Ankara,"íìmitkí_y Mahallesi, 2432. Cadde (8. Cadde), N...",íìmitkí_y,"íìmitkí_y, Ankara",32.701775,39.891564,"Kebab, Desserts, Turkish Pizza",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,152
9536,6004813,Pizza ÛÁl Forno,208,Ankara,"YÛ±ldÛ±zevler Mahallesi, 720. Sokak, No 2/B, í...",YÛ±ldÛ±zevler,"YÛ±ldÛ±zevler, Ankara",32.860217,39.876239,Pizza,...,Turkish Lira(TL),No,No,No,No,2,4.7,Dark Green,Excellent,104
9537,5904116,J'adore Chocolatier,208,ÛÁstanbul,"AsmalÛ±mescit Mahallesi, ÛÁstiklal Caddesi, Em...",AsmalÛ±mescit,"AsmalÛ±mescit, ÛÁstanbul",28.976127,41.033002,Desserts,...,Turkish Lira(TL),No,No,No,No,2,4.7,Dark Green,Excellent,1311
9538,5901782,Starbucks,208,ÛÁstanbul,"Bebek Mahallesi, Cevdetpaôa Caddesi, No 30/A,...",Bebek,"Bebek, ÛÁstanbul",29.043734,41.077696,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.9,Dark Green,Excellent,1042
9539,5902117,Valonia,208,ÛÁstanbul,"Tí_rkali Mahallesi, Ihlamurdere Caddesi, No 40...",Beôiktaô Merkez,"Beôiktaô Merkez, ÛÁstanbul",29.002896,41.044813,"Restaurant Cafe, Desserts",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,874
9540,5927248,Draft Gastro Pub,208,ÛÁstanbul,"Caddebostan Mahallesi, BaÛôdat Caddesi, No 349...",Caddebostan,"Caddebostan, ÛÁstanbul",29.074116,40.963935,Bar Food,...,Turkish Lira(TL),No,No,No,No,4,4.9,Dark Green,Excellent,522
9541,5905215,Emirgan Sí_tiô,208,ÛÁstanbul,"Emirgan Mahallesi, SakÛ±p SabancÛ± Caddesi, No...",Emirgí¢n,"Emirgí¢n, ÛÁstanbul",29.056620,41.104969,"Restaurant Cafe, Turkish, Desserts",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,877
9542,5926979,Leman Kí_ltí_r,208,ÛÁstanbul,"CaferaÛôa Mahallesi, Neôet í_mer Sokak, No 9/...",KadÛ±kí_y Merkez,"KadÛ±kí_y Merkez, ÛÁstanbul",29.022805,40.989705,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,3,3.7,Yellow,Good,506
9543,5916085,Dem Karakí_y,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, Hoca Ta...",Karakí_y,"Karakí_y, ÛÁstanbul",28.978236,41.024633,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.5,Dark Green,Excellent,761
9544,5915547,Karakí_y Gí_llí_oÛôlu,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977636,41.022904,"Desserts, Bí_rek",...,Turkish Lira(TL),No,No,No,No,2,4.7,Dark Green,Excellent,1305
9545,5915054,Baltazar,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, KÛ±lÛ±í...",Karakí_y,"Karakí_y, ÛÁstanbul",28.981103,41.025785,"Burger, Izgara",...,Turkish Lira(TL),No,No,No,No,3,4.3,Green,Very Good,870
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [ ]:
#skip bad lines for parserror 
pd.read_csv('', error_bad_lines=False)

In [56]:
#handing dates 
date_data=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/IPL%20Matches%202008-2020.csv',parse_dates=['date'])
date_data.info()
date_data.dtypes
#we can also merge dates when they are in sep cols to a single col

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
id                 816 non-null int64
city               803 non-null object
date               816 non-null datetime64[ns]
player_of_match    812 non-null object
venue              816 non-null object
neutral_venue      816 non-null int64
team1              816 non-null object
team2              816 non-null object
toss_winner        816 non-null object
toss_decision      816 non-null object
winner             812 non-null object
result             812 non-null object
result_margin      799 non-null float64
eliminator         812 non-null object
method             19 non-null object
umpire1            816 non-null object
umpire2            816 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 108.5+ KB

id                          int64
city                       object
date               datetime64[ns]
player_of_match            object
venue                      object
neutral_venue               int64
team1                      object
team2                      object
toss_winner                object
toss_decision              object
winner                     object
result                     object
result_margin             float64
eliminator                 object
method                     object
umpire1                    object
umpire2                    object
dtype: object

In [57]:
##converters -converts long words into short forms 
def rename(name):
    if name == "Royal Challengers Bangalore":
        return "RCB"
    else:
        return name
    
date_data=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/IPL%20Matches%202008-2020.csv',parse_dates=['date'],converters={'team1':rename})

In [59]:
##loading a huge data set in chunks 
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day15%20-%20working%20with%20csv%20files/aug_train.csv',chunksize=5000)
for i in df:
    print(i.shape)

(5000, 14)
(5000, 14)
(5000, 14)
(4158, 14)